# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/team-adhs-website/FileContentIndex
/.vs/team-adhs-website/v17
/.vs/team-adhs-website/CopilotIndices/17.12.53.23981
/.vs
# Angular
.angular/
node_modules/
dist/
# Angular (im Website Ordner)
Website/.angular/
Website/node_modules/
Website/dist/
Website/.vscode/
Website/*.log
Website/npm-debug.log*
Website/yarn-error.log*

# C# API
TeamAdhsApi/bin/
TeamAdhsApi/obj/
TeamAdhsApi/.vs/
TeamAdhsApi/*.user
TeamAdhsApi/*.suo
TeamAdhsApi/*.cache

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Sensitive data
appsettings.Development.json
appsettings.*.json
!appsettings.json
*.env
*.env.local

# OS
.DS_Store
Thumbs.db
desktop.ini

**/bin/
**/obj/
/WebApi/obj/Debug/net9.0/WebApi.AssemblyInfo.cs
/WebApi/obj/Debug/net9.0/WebApi.AssemblyInfoInputs.cache
/WebApi/obj/Release/net9.0/WebApi.AssemblyInfo.cs
/WebApi/obj/Release/net9.0/WebApi.AssemblyInfoInputs.cache
