# Visual Studio
.vs/
*.suo
*.user
*.userosscache

# Build
**/bin/
**/obj/
[Dd]ebug/
[Rr]elease/

# Angular
.angular/
node_modules/
dist/

# Sensitive
appsettings.Development.json
*.env

# OS
.DS_Store
Thumbs.db

