
<div class="social-links">
  <a href="https://www.facebook.com/teamadhs.at" target="_blank" rel="noopener" title="Facebook">
    <mat-icon>facebook</mat-icon>
  </a>
  <a href="https://www.instagram.com/team_adhs/" target="_blank" rel="noopener" title="Instagram">
    <mat-icon>camera_alt</mat-icon>
  </a>
  <a href="https://discord.gg/tAUSEyNcCg" target="_blank" rel="noopener" title="Discord">
    <mat-icon>forum</mat-icon>
  </a>
  <a href="mailto:kontakt@team-adhs.at" title="E-Mail">
    <mat-icon>email</mat-icon>
  </a>
</div>
