<!--<div class="target-groups">
  <h2>Du bist hier richtig, wenn...</h2>
  <div class="target-group-grid">
    <div class="target-group-item" *ngFor="let group of targetGroups">
      <div class="bullet">•</div>
      <div class="content">
        <p [innerHTML]="group.description"></p>
        <div class="links" *ngIf="group.links">
          <a *ngFor="let link of group.links"
             [routerLink]="link.route"
             class="group-link">
            {{ link.text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>-->
